[Desktop Entry]
Exec=/home/vimi/.config/old-autostart-scripts/onedrive_startup.sh
Icon=dialog-scripts
Name=onedrive_startup.sh
Path=
Type=Application
X-KDE-AutostartScript=true
