/* Remove empty space before first tab */
#TabsToolbar .titlebar-spacer[type="pre-tabs"]{
	width: 0px !important;
	border: 0px !important;
}

/* removes empty space after tabs */
#TabsToolbar .titlebar-spacer[type="post-tabs"]{
    display: none !important;
} 



