@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
    .click-target-container *, .top-sites-list * {
        color: lightgray !important ;
        text-shadow: 1px 1px black;
                
    }
    
   /* .ds-top-sites * {
        background: white;
                
    }*/

    body::before {
        content: "" ;
        z-index: -1 ;
        position: fixed ;
        top: 0 ;
        left: 0 ;
        background: url(img/bing.jpg) center ;
        background-size: cover ;
        width: 100vw ;
        height: 100vh ;
    }
} 
