[Desktop Entry]
Comment[en_US]=Run only one instance of mpv
Comment=Run only one instance of mpv
Exec=mpv-single %F
GenericName[en_US]=
GenericName=
Icon=mpv
MimeType=video/x-theora+ogg;video/x-ogm+ogg;video/x-msvideo;video/x-msvideo;video/x-msvideo;video/x-ms-wmv;video/x-matroska;video/x-flv;video/x-flic;video/webm;video/vnd.rn-realvideo;video/quicktime;video/ogg;video/mpeg;video/mpeg;video/mpeg;video/mp4;video/mp2t;audio/x-wavpack;audio/x-wav;audio/x-wav;audio/x-vorbis+ogg;audio/x-tta;audio/x-scpls;audio/x-scpls;audio/x-ms-wma;audio/x-ms-asx;audio/x-mpegurl;audio/x-mpegurl;audio/x-ape;audio/vnd.rn-realaudio;audio/vnd.rn-realaudio;audio/ogg;audio/mpeg;audio/mpeg;audio/mpeg;audio/mpeg;audio/mpeg;audio/mp4;audio/mp4;audio/mp4;audio/mp2;audio/mp2;audio/flac;audio/flac;audio/AMR;audio/ac3;audio/aac;audio/aac;application/x-shorten;application/vnd.rn-realmedia;application/vnd.rn-realmedia;application/vnd.ms-asf;application/smil+xml;application/sdp;application/ogg;application/ogg;
Name[en_US]=mpv-single
Name=mpv-single
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
