[mgr]
prepend_keymap = [
  { on = [ "g", "D" ], run = "cd D:", desc = "go D: drive" },
  { on = [ "g", "m" ], run = "cd D:\\Media", desc = "go Media" },
  { on = [ "g", "g" ], run = "cd ~/git-repos/", desc = "go git-repos" },
  { on = [ "g", "." ], run = "cd ~/git-repos/dotfiles/", desc = "go dotfiles" },
  { on = [ "g", "O" ], run = "cd ~/OneDrive", desc = "go Onedrive" },
  { on = [ "g", "w" ], run = "cd //wsl.localhost/openSUSE-Tumbleweed/home/vimi", desc = "go WSL" },
  { on = "u", run = 'shell --block "7z x "%*""', desc = "Unzip with 7Z", for = "windows" },
  { on = "u", run = 'shell --block "7z x "$(1)""', desc = "Unzip with 7Z", for = "unix" },
  { on = "z", run = 'shell --block "7z a "%*.zip" "%*""', desc = "Zip with 7z", for = "windows" },
  { on = "z", run = 'shell --block "7z a "$(1).zip" "$(1)""', desc = "Zip with 7z", for = "unix" },
  # Unbind default delete (Shift+D)
  { on = "D", run = "noop" },
  { on = "<S-Delete>", run = "remove --permanently", desc = "Permanently delete" },
  # Smart-enter plugin
  { on = "<Enter>", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
  # toggle-preview-pane
  { on = ["T"], run = "plugin toggle-pane min-preview", desc = "Show or hide the preview pane" },
  # { on = ["p", "M"], run = "plugin toggle-pane max-preview", desc = "Maximize or restore the preview pane" },
]
