[mgr]
show_hidden = true
scrolloff = 8 # default = 5
linemode = "mtime"

[opener]
edit = [
  { run = '$EDITOR "$@"', block = true, for = "unix" },
  { run = "nvim %*", block = true, for = "windows" },
]

play = [
  { run = 'mpv "$@"', orphan = true, for = "unix" },
  { run = '"C:\Users\%USERNAME%\scoop\apps\mpv.net\current\mpvnet.exe %*"', orphan = true, for = "windows" },
]

data = [
  # { run= 'cmd /c ""C:\Users\%USERNAME%\scoop\apps\sqlitebrowser\current\DB Browser for SQLite.exe" "%*""', orphan = true, for = "windows" },
  { run = 'sqlitebrowser "$@"', orphan = true, for = "unix" },
]

[open]
prepend_rules = [
  { name = "*.qmd", use = "edit" },
  { name = "*.ps1", use = "edit" },
	{ name = "*.json", use = "edit" },
	{ name = "*.sh", use = "edit" },
	{ name = "*.toml", use = "edit" },
	{ name = "*.y*ml", use = "edit" },
	{ name = "*config", use = "edit" },
	{ name = "*.cfg", use = "edit" },
	{ name = "*env", use = "edit" },
	{ name = "*.d", use = "edit" },
	{ name = "*.md", use = "edit" },
	{ name = "*.txt", use = "edit" },
	{ name = ".zsh*", use = "edit" },
	{ name = "*.ini", use = "edit" },
	{ name = "*.lua", use = "edit" },
	{ name = "*.xml", use = "edit" },
	{ name = "*.log", use = "edit" },
  { name = "*.html", use = "edit" },
  { name = "*.svg", use = "edit" },
	{ name = "*.db", use = "data" },
# open with normal / gnome / kde
	{ name = "*.ods", use = "open" },
	{ name = "*.pdf", use = "open" },
# open with multimedia player
	{ name = "*.mp3", use = "play" },

]
append_rules = [
	{ name = "*", use = "open" },
]
